<div class="my-4" *ngIf="isCurrentSeason">
</div>

<div class="my-4" style="padding: 30px;">
  <h3>Filter by Date</h3>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label for="startDate">Start Date:</label>
      <input type="datetime-local" class="form-control" id="startDate" [(ngModel)]="startDate">
    </div>
    <div class="col-auto">
      <label for="endDate">End Date:</label>
      <input type="datetime-local" class="form-control" id="endDate" [(ngModel)]="endDate">
    </div>
    <div class="col-auto">
      <button (click)="filterRoundsByDateRange()" class="iconButton" title="Filter">
        <i class="fa fa-filter"></i>
      </button>
      <button (click)="clearFilters()" class="iconButton" title="Cancel">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
</div>

<div *ngFor="let round of rounds" class="my-4">
  <div class="table-responsive mx-4">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th colspan="9" class="text-center" style="background-color: #343a40; color: white;">
          Round #{{ round.id }} : {{ round.start_date | date: 'short' }} - {{ round.end_date | date: 'short' }}
        </th>
      </tr>
      <tr>
        <th scope="col">Match ID</th>
        <th scope="col">Home Team</th>
        <th scope="col">Away Team</th>
        <th scope="col">Match Date</th>
        <th scope="col">Home Team Score</th>
        <th scope="col">Away Team Score</th>
        <th scope="col">Result</th>
        <th scope="col" *ngIf="isCurrentSeason">Actions</th>
        <th scope="col" *ngIf="isCurrentSeason">View-Match</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let match of round.matches">
        <td>{{ match.id }}</td>
        <td>{{ match.homeTeam.name}}</td>
        <td>{{ match.awayTeam.name}}</td>
        <td>{{ match.matchDate | date: 'short' }}</td>
        <td>{{ match.homeTeamScore }}</td>
        <td>{{ match.awayTeamScore }}</td>
        <td>{{ match.homeTeamScore }} - {{ match.awayTeamScore }}</td>


        <td *ngIf="isCurrentSeason">
          <button class="btn btn-primary" (click)="redirectToEditMatch(round.id, match.id)">Update</button>
        </td>
        <td *ngIf="isCurrentSeason && hasMatchStarted(match.matchDate) " >
          <button class="btn btn-primary" (click)="goToMatch(round.id, match.id)">Create Events</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="d-flex justify-content-center">
  <!-- Pagination -->
  <ngb-pagination
    [collectionSize]="totalElements"
    [(page)]="pageNumber"
    [pageSize]="pageSize"
    (pageChange)="onPageChange($event)">
  </ngb-pagination>
</div>
