<div class="container">
    <h2>Edit Match</h2>
    <form (ngSubmit)="editMatch()" class="mt-4">
        <div class="form-group">
            <label for="homeTeam">Home Team:</label>
            <input type="text" class="form-control" id="homeTeam" name="homeTeam" [value]="match.homeTeam.name" disabled>
        </div>
        <div class="form-group">
            <label for="awayTeam">Away Team:</label>
            <input type="text" class="form-control" id="awayTeam" name="awayTeam" [value]="match.awayTeam.name" disabled>
        </div>
        <div class="form-group">
            <label for="matchDate">Match Date:</label>
            <!-- Use the method to format the date -->
            <input type="text" class="form-control" id="matchDate" name="matchDate" [value]="formatMatchDate(match.matchDate)" disabled>
        </div>
        <div class="form-group">
            <label for="result">Result:</label>
            <input type="text" class="form-control" id="result" name="result" [(ngModel)]="match.result">
        </div>
        <div class="form-group">
            <label for="homeScore">Home Team Score:</label>
            <input type="number" class="form-control" id="homeScore" name="homeScore" [(ngModel)]="match.homeTeamScore">
        </div>
        <div class="form-group">
            <label for="awayScore">Away Team Score:</label>
            <input type="number" class="form-control" id="awayScore" name="awayScore" [(ngModel)]="match.awayTeamScore">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
