<div>
    <h2>Edit Season</h2>
    <form (ngSubmit)="updateSeason()">
        <div class="form-group">
            <label for="seasonName">Season Name:</label>
            <input type="text" class="form-control" id="seasonName" name="seasonName" [(ngModel)]="season.name" required>
        </div>
        <div class="form-group">
            <label for="match">Select Matches:</label>
            <select multiple class="form-control" id="match" name="match" [(ngModel)]="selectedMatchIds">
                <option *ngFor="let match of matches" [value]="match.id">{{ match.matchDate }}</option>
            </select>
        </div>
        <!-- Button to remove selected matches -->
        <div class="form-group">
            <button type="button" class="btn btn-danger" (click)="removeSelectedMatches()">Remove Selected Matches</button>
        </div>
        <button type="submit" class="btn btn-primary">Update Season</button>
    </form>
</div>
