<div *ngIf="leagues.length > 0" class="container">
  <h2>Data from Backend</h2>
  <button (click)="redirectToCreateLeague()" class="btn btn-primary mt-3">Create League</button>
  <div class="row">
    <div *ngFor="let league of leagues" class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ league.name }}</h3>
          <p class="card-text">Start Date: {{ league.start_date | date }}</p>
          <p class="card-text">End Date: {{ league.end_date | date }}</p>
          <p class="card-text">Description: {{ league.description }}</p>
        </div>
        <div class="card-footer">
          <button (click)="updateLeague(league)" class="btn btn-primary mr-2">Update</button>
          <button (click)="deleteLeague(league.id)" class="btn btn-danger">Delete</button>
          <button (click)="redirectToLeagueSeasons(league.id)" class="btn btn-secondary">Seasons</button>
        </div>
      </div>
    </div>
  </div>
</div>
