
<div class="container">
  <div class="row mb-3" style="margin-top: 30px">
    <div class="col-md-4">
      <h2 class="mb-0">All Leagues</h2>
      <button (click)="redirectToCreateLeague()" class="btn btn-primary mt-2">Create League</button>
    </div>
    <div class="col-md-4 offset-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search leagues..." [(ngModel)]="searchQuery">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="searchLeagues()">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <!-- Pagination -->
  <ngb-pagination
    [collectionSize]="totalElements"
    [(page)]="pageNumber"
    [pageSize]="pageSize"
    (pageChange)="onPageChange($event)">
  </ngb-pagination>

  <div class="row" *ngIf="leagues.length > 0; else noLeaguesMessage">
    <div *ngFor="let league of leagues" class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ league.name }}</h3>
          <p class="card-text">Founded: {{ league.founded }}</p>
          <p class="card-text">Description: {{ league.description }}</p>
        </div>
        <div class="card-footer">
          <button (click)="updateLeague(league)" class="btn btn-primary mr-2">Update</button>
          <button (click)="deleteLeague(league.id)" class="btn btn-danger">Delete</button>
          <button (click)="redirectToLeagueSeasons(league.id)" class="btn btn-secondary">Seasons</button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noLeaguesMessage>
    <div class="alert alert-warning" role="alert">
      No leagues found.
    </div>
  </ng-template>

  <div class="d-flex justify-content-center mt-3">
    <ngb-pagination
            [collectionSize]="totalElements"
            [(page)]="pageNumber"
            [pageSize]="pageSize"
            (pageChange)="onPageChange($event)">
    </ngb-pagination>
  </div>

</div>
