<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Status</th> <!-- Add a new header for status -->
            <th scope="col">Actions</th> <!-- Add a new header for actions -->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.email}}</td>
            <td>{{user.enabled ? 'Enabled' : 'Disabled'}}</td> <!-- Display user status -->
            <td>
                <button class="btn btn-primary" (click)="updateUserStatus(user.id, !user.enabled)">
                    {{user.enabled ? 'Disable' : 'Enable'}}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
