<div class="container">
  <h2>Create New League</h2>
  <form (submit)="createLeague()">
    <div class="form-group">
      <label for="newName">Name:</label>
      <input type="text" id="newName" name="newName" [(ngModel)]="newLeague.name" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="newStartDate">Start Date:</label>
      <input type="date" id="newStartDate" name="newStartDate" [(ngModel)]="newLeague.start_date" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="newEndDate">End Date:</label>
      <input type="date" id="newEndDate" name="newEndDate" [(ngModel)]="newLeague.end_date" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="newDescription">Description:</label>
      <textarea id="newDescription" name="newDescription" [(ngModel)]="newLeague.description" class="form-control" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
