<div class="container">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="height">Height</label>
      <input type="number" class="form-control" id="height" placeholder="Enter height">
    </div>
    <div class="form-group">
      <label for="weight">Weight</label>
      <input type="number" class="form-control" id="weight" placeholder="Enter weight">
    </div>
    <div class="form-group">
      <label for="number">Shirt Number</label>
      <input type="number" class="form-control" id="number" placeholder="Enter shirt number">
    </div>
    <div class="form-group">
      <label for="foot">Preferred Foot</label>
      <select class="form-control" id="foot">
        <option *ngFor="let foot of footOptions">{{ foot  }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="position">Position</label>
      <select class="form-control" id="position">
        <option *ngFor="let position of positionOptions">{{position}}</option>
      </select>
    </div>
    <button type="submit" style="margin-top: 10px;" class="btn btn-primary">Submit</button>
  </form>
</div>

