<div class="container">
  <form (ngSubmit)="createPlayer()" [formGroup]="playerForm">
    <div class="form-group">
      <br>
      <input type="file" name="file" id="file" (change)="onFileSelected($event)" formControlName="file"/>
      <div *ngIf="playerForm.get('file')?.invalid && playerForm.get('file')?.touched" class="text-danger">
        Only jpg, jpeg, png, gif allowed
      </div>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" formControlName="name" id="name" placeholder="Enter name">
      <div *ngIf="(playerForm.get('name')?.invalid) && (playerForm.get('name')?.touched) && (playerForm.get('name')?.errors?.['required'])" class="text-danger">
        Name is required
      </div>
      <div *ngIf="playerForm.get('name')?.errors?.['pattern']" class="text-danger">
        Name should contain only letters.
      </div>
    </div>
    <div class="form-group">
      <label for="height">Height</label>
      <input type="number" class="form-control" formControlName="height" id="height" placeholder="Enter height">
      <div *ngIf="(playerForm.get('height')?.invalid) && (playerForm.get('height')?.touched) && (playerForm.get('height')?.errors?.['required'])" class="text-danger">
        Height is required
      </div>
    </div>
    <div class="form-group">
      <label for="weight">Weight</label>
      <input type="number" class="form-control" formControlName="weight" id="weight" placeholder="Enter weight">
      <div *ngIf="(playerForm.get('weight')?.invalid) && (playerForm.get('weight')?.touched) && (playerForm.get('weight')?.errors?.['required'])" class="text-danger">
        Weight is required
      </div>
    </div>
    <div class="form-group">
      <label for="shirtNumber">Shirt Number</label>
      <input type="number" class="form-control" formControlName="shirtNumber" id="shirtNumber" placeholder="Enter shirt number">
      <div *ngIf="(playerForm.get('shirtNumber')?.invalid) && (playerForm.get('shirtNumber')?.touched) && (playerForm.get('shirtNumber')?.errors?.['required'])" class="text-danger">
        Shirt number is required
      </div>
    </div>
    <div class="form-group">
      <label for="preferred_foot">Preferred Foot</label>
      <select class="form-control" id="preferred_foot" formControlName="preferred_foot">
        <option *ngFor="let foot of footOptions" [value]="foot">{{ foot }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="position">Position</label>
      <select class="form-control" id="position" formControlName="position">
        <option *ngFor="let position of positionOptions">{{position}}</option>
      </select>
    </div>
    <button type="submit" style="margin-top: 10px;" class="btn btn-primary">Submit</button>
  </form>
</div>

