<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 30px;">
    <h2>Seasons</h2>
    <button (click)="redirectToCreateSeason()" class="btn btn-primary">Create Season</button>
  </div>

  <ul class="list-group" *ngIf="seasons.length > 0">
    <li *ngFor="let season of seasons" class="list-group-item">
      <h5 class="mb-1">Season ID: {{ season.id }}</h5>
      <p class="mb-1">Season Name: {{ season.name }}</p>
      <button (click)="editSeason(season.id)" class="btn btn-primary">Edit Season</button>
      <button (click)="deleteSeason(season.id)" class="btn btn-danger">Delete Season</button>
      <button (click)="addRound(season.id)" class="btn btn-success">Rounds</button>
      <button (click)="generateRoundsAndMatches(season.id)" class="btn btn-primary">Generate Rounds And Matches </button>
    </li>
  </ul>

  <div *ngIf="seasons.length === 0" class="text-center">
    <p>No seasons available. Create a new season to get started!</p>
  </div>
</div>

<div class="d-flex justify-content-center">
  <!-- Pagination -->
  <ngb-pagination
          [collectionSize]="totalElements"
          [(page)]="pageNumber"
          [pageSize]="pageSize"
          (pageChange)="onPageChange($event)">
  </ngb-pagination>
</div>
