<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div class="bg-white rounded-lg shadow-lg p-8 max-w-md w-full">
    <h2 class="text-2xl font-bold mb-6 text-green-600">Update League</h2>
    <form (submit)="updateLeague()" class="space-y-6">
      <div class="form-group">
        <label for="name" class="block text-gray-700 font-medium mb-2">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="league.name" class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-light-blue-500" required>
      </div>
      <div class="form-group">
        <label for="startDate" class="block text-gray-700 font-medium mb-2">Founded</label>
        <input type="number" id="startDate" name="startDate" [(ngModel)]="league.founded" class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-light-blue-500" required>
      </div>
      <div class="form-group" >
        <label for="image" class="block text-gray-700 font-medium mb-2">Current Image:</label>
        <!-- Display current image -->
        <div class="d-flex align-items-center">
          <img [src]="league.picture" alt="Player Photo" class="img-thumbnail rounded-circle mr-3" style="width: 50px; height: 50px; object-fit: cover;">
        </div>
        <!-- File input for new image -->
        <input type="file" id="image" name="image" accept="image/*" (change)="onFileChange($event)"  class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-light-blue-500">
      </div>
      <div class="form-group">
        <label for="description" class="block text-gray-700 font-medium mb-2">Description:</label>
        <textarea id="description" name="description" [(ngModel)]="league.description" class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-light-blue-500" required></textarea>
      </div>
      <button type="submit" class="bg-green-600 text-white rounded-lg px-4 py-2 hover:bg-green-700">Update</button>
    </form>
  </div>
</div>
