<section class="h-100 gradient-form poppins-regular" style="background-color: #003366;padding-bottom: 300px;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <h4 class="mt-1 mb-3 pb-1">Federata e Futbollit te Kosoves</h4>
                  <p>Register as e new club</p>
                  <br>
                </div>
                  <form (ngSubmit)="register()" [formGroup]="registerForm" novalidate>
                    <div class="form-group">
                      <label for="clubName">Club Name</label>
                      <input type="text" class="form-control" id="clubName" formControlName="clubName" placeholder="Enter club name">
                      <div *ngIf="registerForm.get('clubName')?.touched && registerForm.get('clubName')?.errors" class="text-danger small-font">
                        <div *ngIf="registerForm.get('clubName')?.errors?.['required']">Club name is required</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email">
                      <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors" class="text-danger small-font">
                        <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required</div>
                        <div *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format</div>
                        <div *ngIf="registerForm.get('email')?.errors?.['emailTaken']">Email is already taken</div> <!-- Ensure this line exists -->
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter password">
                      <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors" class="text-danger small-font">
                        <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required</div>
                        <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="confirmPassword">Confirm Password</label>
                      <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm password">
                      <div *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.errors" class="text-danger small-font">
                        <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Confirm password is required</div>
                        <div *ngIf="registerForm.get('confirmPassword')?.errors?.['mismatch']">Passwords do not match</div>
                      </div>
                    </div>

                    <div class="d-grid gap-2 col-6 mx-auto mt-3">
                      <button type="submit" class="btn btn-light btn-lg gradient-custom-2 mb-2" style="font-size: 16px; color: white;" [disabled]="registerForm.invalid">Register</button>
                    </div>
                    <div class="text-center mt-2">
                      <a href="/login">Login to your account</a>
                    </div>
                  </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center" style="background-color: #003366;">
              <div class="text-white" style="height: 100%;">
                <img src="assets/ffj.jpeg" style="width: 100%; height: 100%;" alt="logo">
                <h4 class="mb-4"></h4>
                <p class="small mb-0"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
