.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Diagonal gradient */
  background: -webkit-linear-gradient(135deg, #0059b3, #003366);
  background: linear-gradient(135deg, #0059b3, #003366);
}


@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
