<div class="container" style="margin-top: 100px;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="loginFormGroup" (ngSubmit)="loginButton()" class="mt-5">
        <div formGroupName="login">
          <div formControlName="username" class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" class="form-control" formControlName="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username"><br>
            <p style="margin-top: -25px" *ngIf="loginFormGroup.get('login.username')?.invalid && (loginFormGroup.get('login.username')?.dirty || loginFormGroup.get('login.username')?.touched)" class="text-danger">
              Username is required
            </p>
          </div>
          <div formControlName="password" class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password"><br>
            <p style="margin-top: -25px" *ngIf="loginFormGroup.get('login.password')?.invalid && (loginFormGroup.get('login.password')?.dirty || loginFormGroup.get('login.password')?.touched)" class="text-danger">
              Password is required
            </p>
          </div>
          <p *ngIf="loginError == true" style="margin-bottom: 10px;margin-top: -20px" class="text-danger">Incorrect username or password</p>
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>
